BasedOnStyle: Microsoft
Language: Cpp
UseTab: Always
IndentWidth: 4
TabWidth: 4
ColumnLimit: 140
ContinuationIndentWidth: 4
AlignAfterOpenBracket: DontAlign
AlignOperands: DontAlign
Cpp11BracedListStyle: false
BreakBeforeBraces: Allman
NamespaceIndentation: All
PointerAlignment: Left
ReferenceAlignment: Left
SortIncludes: Never
IncludeBlocks: Preserve
InsertBraces: true
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortLambdasOnASingleLine: None
SeparateDefinitionBlocks: Always
InsertNewlineAtEOF: true
