BasedOnStyle: Microsoft
Language: Cpp
UseTab: Always
IndentWidth: 4
TabWidth: 4
ColumnLimit: 140
ContinuationIndentWidth: 4
AlignAfterOpenBracket: DontAlign
AlignOperands: DontAlign
Cpp11BracedListStyle: false
BreakBeforeBraces: Allman
NamespaceIndentation: All
PointerAlignment: Left
ReferenceAlignment: Left
SortIncludes: Never
IncludeBlocks: Preserve
InsertBraces: true
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortLambdasOnASingleLine: None
SeparateDefinitionBlocks: Always
KeepEmptyLinesAtTheStartOfBlocks: true
MaxEmptyLinesToKeep: 1
InsertNewlineAtEOF: true

# scripts/format-source.py enforces blank lines around control flow and just


# and member functions in class and struct declarations.
